:root {
  --primary-clr: black;

  --icon-clr: black;
  --nav-icon-clr: rgb(255, 255, 255);
  --section-bg-clr: rgb(255, 255, 255);
  --card-bg-clr: rgb(255, 255, 255);
  --card-text-clr: black;
  --card-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  --card-hover-shadow: 0 2px 10px rgb(0 0 0 / 0.3);
  --id-clr: rgb(88, 88, 88);
  --id-bg-clr: rgb(202, 202, 202);
  --triangle-gradient: linear-gradient(
    45deg,
    rgb(228 228 228) 0%,
    rgb(228 228 228) 50%,
    rgb(220 220 220) 51%,
    rgb(228 228 228) 71%,
    rgb(228 228 228) 100%
  );
  --sort-bg-clr: rgb(212,212,212);
}

.darkmode {
  --primary-clr: white;

  --icon-clr: white;
  --nav-icon-clr: rgb(17, 17, 17);
  --section-bg-clr: rgb(9, 9, 9);
  --card-bg-clr: rgb(27, 27, 27);
  --card-text-clr: white;
  --card-box-shadow: 0 3px 10px rgb(88 88 88 / 20%);
  --card-hover-shadow: 0 1px 5px rgba(226, 226, 226, 0.6);
  /* id clr 143 143 143 */
  --id-clr: rgb(180, 180, 180);
  --id-bg-clr: rgb(15, 15, 15, 0.6);
  --triangle-gradient: linear-gradient(
    45deg,
    rgba(49, 49, 49, 1) 0%,
    rgba(49, 49, 49, 1) 50%,
    rgba(41, 41, 41, 1) 51%,
    rgba(41, 41, 41, 1) 71%,
    rgba(41, 41, 41, 1) 100%
  );
  --sort-bg-clr: rgb(136,136,136);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--section-bg-clr);
  transition: 0.5s;
}

header {
  position: absolute;
  width: 100%;
  align-items: center;
  z-index: 99;
}

nav {
  padding-right: 5px;
}

nav button {
  float: right;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: var(--nav-icon-clr);
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #hero-logo {
    max-width: 500px;
  }
}

#hero-space {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(img/pal-bg.png);
  background-size: cover;
  background-position: bottom center;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-text {
  text-align: center;
  color: rgb(240, 240, 240);
  font-family: "Exo 2", sans-serif;
  margin-top: -35px;
  text-transform: uppercase;
  font-size: 26px;
}

#paldex {
  background-color: var(--section-bg-clr);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -20px;
  transition: 0.5s;
  height: 100vh;
}

#search-sort-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.search-bar input {
  width: 400px;
  border: 1.5px solid #555;
  border-radius: 16px;
  display: block;
  background-color: white;
  padding: 9px 4px 9px 40px;
  background: white url("./icons/search-icon.svg") no-repeat 13px;
  background-size: 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.search-bar input:focus {
  outline: none;
}

#wrapper {
  padding: 30px 40px 40px 40px;
  border-radius: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}

.pal-info {
  background-color: var(--card-bg-clr);
  padding: 15px;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  margin: 7px;
  transition: 0.5s;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.pal-info:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: var(--card-hover-shadow);
  transition: 0.7s;
}

.pal-img {
  width: 180px;
  border-radius: 10px;
  background: var(--triangle-gradient);
}

.pal-info .id {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  font-size: 17px;
  position: absolute;
  color: var(--id-clr);
  background-color: var(--id-bg-clr);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  padding: 0px 5px 2px 3px;
  transition: 0.5s;
}

.pal-info .pal-name {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: var(--card-text-clr);
  transition: 0.5s;
}

.pal-info .element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  font-family: "Exo 2", sans-serif;
  border-radius: 5px;
  margin-top: 2px;
  justify-content: center;
  align-items: center;
}

.pal-info .element .element-text {
  font-size: 15px;
  color: white;
  margin: 0;
  padding-top: 1.5px;
  padding-bottom: 2.5px;
  text-align: center;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% calc(0% + 10px),
    100% 100%,
    0 100%
  );
  margin-top: 5px;
}

.pal-info .element .dark-color {
  background-color: #be1787;
}

.pal-info .element .electric-color {
  background-color: #ffdb2e;
  color: rgb(41, 41, 41);
}

.pal-info .element .grass-color {
  background-color: #bbff52;
  color: rgb(41, 41, 41);
}

.pal-info .element .dragon-color {
  background-color: #d978ff;
}

.pal-info .element .fire-color {
  background-color: #fc7149;
}

.pal-info .element .neutral-color {
  background-color: #feeee6;
  color: rgb(88, 88, 88);
}

.pal-info .element .ground-color {
  background-color: #e4aa78;
}

.pal-info .element .ice-color {
  background-color: #81f8ff;
  color: rgb(41, 41, 41);
}

.pal-info .element .water-color {
  background-color: #52c9ff;
}

.pal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  max-width: 80%;
}

#err-msg {
  max-width: 80%;
  font-family: "Exo 2", sans-serif;
  color: var(--card-text-clr);
  margin: auto;
  text-align: center;
}

#preview {
  font-family: "Exo 2", sans-serif;
  margin-top: 10px;
  border: 2px solid var(--primary-clr);
  border-radius: 5px;
  color: var(--primary-clr);
  background-color: transparent;
  cursor: pointer;
  padding: 4px 14px 6px 14px;
  font-size: 14px;
}

#preview:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#sort {
  display: flex;
  justify-content: center;
}

.sort-element {
  min-width: 87.5px;
  min-height: 22px;
  text-align: center;
  margin: 20px 7px 0 7px;
  font-family: "Exo 2", sans-serif;
}

.sort-element .element-text {
  font-size: 15px;
  color: white;
  margin: 0;
  padding-top: 1.5px;
  padding-bottom: 2.5px;
  text-align: center;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% calc(0% + 10px),
    100% 100%,
    0 100%
  );
}

.sort-element .dark-color,
.sort-element .dragon-color,
.sort-element .ground-color,
.sort-element .electric-color,
.sort-element .fire-color,
.sort-element .ice-color,
.sort-element .grass-color,
.sort-element .neutral-color,
.sort-element .water-color {
  background-color: var(--sort-bg-clr);
  color: black;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

/* Specificity */
.sort-element .dark-color.active {
  background-color: #be1787;
  color: white;
}

.sort-element .dragon-color.active {
  background-color: #d978ff;
  color: white;
}

.sort-element .ground-color.active {
  background-color: #e4aa78;
  color: white;
}

.sort-element .electric-color.active {
  background-color: #ffdb2e;
  color: rgb(41, 41, 41);
}

.sort-element .fire-color.active {
  background-color: #fc7149;
  color: white;
}

.sort-element .ice-color.active {
  background-color: #81f8ff;
  color: rgb(41, 41, 41);
}

.sort-element .grass-color.active {
  background-color: #bbff52;
  color: rgb(41, 41, 41);
}

.sort-element .neutral-color.active {
  background-color: #feeee6;
  color: rgb(88, 88, 88);
}

.sort-element .water-color.active {
  background-color: #52c9ff;
  color: white;
}